input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

.inputLabel {
    margin-left: 10%;
}

.map {
    margin: 0% 0% 5% 50%;
    padding: none;
    box-shadow: 2px;

}